[submodule "dependencies"]
	path = dependencies
	url = https://github.com/agra-uni-bremen/dependencies.git
[submodule "examples"]
	path = examples
	url = https://github.com/hoangmle/crave-examples.git
[submodule "metaSMT"]
	path = metaSMT
	url = https://github.com/hoangmle/metaSMT.git
